.DS_Store
__pycache__
log*.txt
tmp*
preprocessed_data
models
.ipynb_checkpoints
.idea
data/VLSP2020_RE_training_fixed
data/VLSP2020_RE_dev_fixed
data/VLSP2020_RE_new
data
resources
output
working
RELEX2020_Submissions
results
.vscode
*~